@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background-color: #e6ddd6;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 450px;
    min-width: 325px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #7d4bda;
    color:#e6ddd6;
    font-family: 'Permanent Marker', cursive;
    padding: 20px;
}

header {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
}

#wine-photo-and-stats {
    border-radius: 10px;
    background-color:#e6ddd6;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#7d4bda;
}

#wine-photo {
    height: 200px;
    width: 60%;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 10px 0px 10px 10px;
}

#wine-descriptors{
    width: 40%;
    margin: 10px;
    border-radius: 10px;
}

table {
    table-layout: auto;
}

th {
    padding: 10px 10px 10px 0px;
    z-index: 10;
}

.display-on-hover {
    position: absolute;
    z-index: 20;
    right: 200px;
    top: 100px;
    width: 100px;
    height: 100px;
    background-color:gold;
    color:black;
    border-radius: 10px;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.display-on-hover::-webkit-scrollbar {
    display: none;
}

.equal-sign {
    margin-left: 20%;
}

#about-wine-producer {
    height: 100%;
    padding: 10px;
    background-color: #e6ddd6;
    margin-top: 20px;
    border-radius: 10px;
    color:#7d4bda;
}

